.App {
  text-align: center;
  font-family: 'MonoLisa', monospace;
}
.root .container, div {
  max-width: 100%;
  padding: 0;
  font-family: 'MonoLisa', monospace;
}

button, label{
  padding: 12px 24px;
  border-radius: 25px;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: 1px solid #ffffff;
  font-family: 'MonoLisa', monospace;
}

button:hover, label:hover {
  background-color: #cdcdcd;
}
#gui, .lil-gui allow-touch-styles root autoPlace{
  align-items: right;
  justify-content: right;
  background-color: #ffffff00;
  font-family: 'MonoLisa', monospace;
  border-radius: 20px;

}
p {
  font-size: 12px;
  font-family: 'MonoLisa', monospace;
}

